<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tic-Tac-Toe</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/indexstyle.css">
  <script src="/js/socket.io-1.2.1.js"></script>
  <script src="/js/index.js"></script>


</head>
<body>

<div class="container text-center">
  <h1>TIC TAC TOE</h1>
</div>

<div class="main text-center container">

<div class="row">
  <div id="left" class="col-md-4 thumbnail cell">
    <h4>OPEN GAMES</h4>
    <hr>
    <ul id="opengames">
      <% opengames.forEach(function(element){ %>
        <li><a class="btn btn-primary btn-lg opengame" href=<%= "/game/"+element %> ><%= element  %></a></li>
      <% }); %>
    </ul>
  </div>
  <div id="center" class="col-md-4 thumbnail cell">This is my very own implementation of Tic Tac Toe. You have the choice of playing against another person or playing against the computer. Two player games were made possible by using websockets. The computer player was made by implementing <a href="http://en.wikipedia.org/wiki/Minimax#Combinatorial_game_theory">MinMax</a> decision rule. I used Node.js for the backend. If you’re curious about the the implementation of either aspect of this application checkout the source on <a href="https://github.com/dcgudeman/tictactoe">GitHub</a>.</div>
  <div id="right" class="col-md-4 thumbnail cell">
    <h4>START A NEW GAME</h4>
    <hr>
<a href="/newgame?player=human" class="btn btn-success btn-lg newgame"><div class="btntext">HUMAN</div></a>
<a href="/newgame?player=computer" class="btn btn-danger btn-lg newgame"><div class="btntext">COMPUTER</div></a>
  </div>
</div>

</div>


</body>
</html>