body {
  background: #F7F9FA;
}


h1 {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
ul{
  list-style-type: none;
  padding: 0;
}

.main {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


#left {
  height: 300px;
  padding: 20px;
}

#center {
  padding: 20px;
  text-align: justify;
}

#right {
  height: 300px;
  padding: 10px;
}

.newgame {
  display: block;
  position: relative;
  margin: 30px auto;
  width: 140px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  padding: 0;
}

.btntext{
  display: inline;
  position: relative;
  vertical-align: middle;
  margin: 0px auto;

}

.opengame {
  margin: 5px auto;
  width: 250px;

}

@media (max-width: 992px) {
  h1 {
    font-size: 70px;
  }

  h4 {
    font-size: 60px;
  }

  #left {
    height: 100%;
    padding: 20px;
  }


  #center {
    font-size: 25px;
  }

  #right {
    height: 100%;
  }

  .opengame {
    margin: 5px auto;
    font-size: 40px;
    width: 90%;

  }

  .newgame {
    display: block;
    position: relative;
    margin: 30px auto;
    width: 70%;
    height: 120px;
    line-height: 120px;
    font-size: 50px;
    padding: 0;
  }

/*  .btntext{
    display: inline;
    position: relative;
    vertical-align: middle;
    margin: 0px auto;

  }*/
}


